@model TrashCollector.Models.ApplicationUser
@{
    ViewBag.Title = "CustomerEditPickUpSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_PickUpSchedule", Model);}
<h2> Change Schedule: </h2>


@using (Html.BeginForm("EditPickUpSchedule", "Customers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    

        <h4>Select Weekly Pick-Up Day</h4>
       
        
        
        <h4>Select Date For Special Pick-Up</h4>

        <div>
            Special (one time) pick-up:
            <input type="date" name="pickUpSchedule.specialPickUpDate">
            
       

        <h4>Cancel All Pick-Ups During Specified Dates:</h4>

       
           No Pick-Ups Beginning:
            <input type="date" name="pickUpSchedule.noPickUpsStart">
            
       

       
            No Pick-Ups Ending:
            <input type="date" name="pickUpSchedule.noPickUpsEnd">
            <input type="submit">
        </div>

        

}

