@model TrashCollector.Models.ApplicationUser

<h3> Your current Pick Up Schedule:</h3>
<a>
    @{ if (Model.pickUpSchedule == (null))
        {

            <p> No pick-ups currently scheduled </p>
        }

        else
        {

            if (!(Model.pickUpSchedule.weeklyPickUpDay == null))
            {
                <a>Weekly: @Model.pickUpSchedule.weeklyPickUpDay</a>
            }

            if (!(Model.pickUpSchedule.specialPickUpDate == null))
            {
                <a>One - Time Pick Up: @Model.pickUpSchedule.specialPickUpDate</a>
            }

            if ((!(Model.pickUpSchedule.noPickUpsStart == null) && Model.pickUpSchedule.noPickUpsEnd == null))
            {
                <a>
                    No Pick Ups:
                    From: @Model.pickUpSchedule.noPickUpsStart
                    To: @Model.pickUpSchedule.noPickUpsEnd
                </a>
                }



            }
        }
        </a>